.item {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    height: 80vh;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left {
    border: 1px solid pink;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff00ff, #ff69b4);
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

.right {
    border: 1px solid lightblue;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0088ff, #00d4ff);
}

.home-score {
    color: black;
    font-size: 90px;
}

.away-score {
    color: rgb(0, 136, 255);
    font-size: 90px;
}