.item {
    width: 200px;
    height: 200px;
    margin-bottom: -30px;
}

.item-2 {
    width: 60px;
    height: 60px;
    margin: 0;
}

.sub-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%; 
    margin: 0 auto 10px auto; 
    padding: 0;
}

.sub-row h2 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 84vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.left {
    width: 300px;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff00ff, #ff69b4);
}

.middle {
    width: 670px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 20px;
}

.middle h2 {
    margin: 0;
}

.right {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0088ff, #00d4ff);
}

.home-score {
    color: black;
    font-size: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.away-score {
    color: rgb(0, 136, 255);
    font-size: 150px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.full-time {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px 0 0 -11px;
}

.main-hr {
    border: none;
    border-top: 2px solid #ccc;
    width: 95%;
    margin: 10px auto;
}

.secondary-hr {
    border: none;
    border-top: 2px solid #eaeaea;
    width: 85%;
    margin: 10px auto;
}

.stat-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    padding: 8px 20px;
    align-items: center;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.stat-left {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.stat-middle {
    text-align: center;
    font-size: 16px;
    color: #667;
}

.stat-right {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}